.spot-details-container {
  padding: 100px 290px; 
  text-align: center; 
}

.spot-details-container .location {
  font-size: 19px;
}

.spot-details-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.location {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: gray;
}

.images-container {
  display: flex;
  gap: 15px; 
  margin-bottom: 20px;
}

.main-image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-img {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
}

.small-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.small-img {
  width: 100%;
  height: auto;
  max-width: 150px;
  border-radius: 10px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.host-description {
  flex: 2;
  text-align: left;
  padding-right: 20px;
}

.host-description .hosted-by {
  font-size: 20px;
}

.callout-box {
  flex: 1.5; 
  border: 1px solid #ddd;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
}

.price-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.price {
  font-size: 1em;
}

.price span {
  font-size: 1em;
  color: gray;
}

.reviews {
  display: flex;
  align-items: center;
}

.reserve-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-top: 6px;
}

.star-icon {
  margin-right: 5px;
  color: black;
}

.dot {
  margin: 0 5px;
}

/* reviews section styles */

.reviews-section {
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-author {
  font-weight: bold;
}

.review-date {
  color: gray;
  font-size: 0.875em;
}

.review-content {
  margin-top: 5px;
}

/* post a review button styles */

.post-review-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin: 10px 0;
}

.post-review-button:hover {
  background-color: #0056b3;
}

hr {
  margin-top: 20px; 
}
