.spot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.spot-link {
  text-decoration: none;
  display: block;
  flex: 0 0 calc(25% - 20px); /* 4 spots per row */
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.spot-link:hover {
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  transform: translateY(-5px); /* Slightly lift the tile */
}

.spot-link:hover .spot-tile {
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1024px) {
  .spot-link {
    flex: 0 0 calc(33.33% - 20px); /* 3 spots per row */
  }
}

@media screen and (max-width: 825px) {
  .spot-link {
    flex: 0 0 calc(50% - 20px); /* 2 spots per row */
  }
}

@media screen and (max-width: 480px) {
  .spot-link {
    flex: 0 0 calc(100% - 20px); /* 1 spot per row */
  }
}

.spot-tile {
  width: 100%;
}

.spot-preview-img {
  width: 100%;
  height: auto; /* Adjust height to auto to maintain aspect ratio */
  border-radius: 5px;
  object-fit: cover; /* Ensures image covers the area while maintaining aspect ratio */
}

.spot-details {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.spot-details h2 {
  margin-top: 0;
}

.spot-details p {
  margin-bottom: 5px;
}

.location-rating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.spot-details .location {
  font-weight: bold;
  font-size: 16px;
  color: rgb(6, 11, 52);
}

.spot-details .avg-rating {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(25, 78, 25);
  font-size: 18px;
}

.star-icon {
  margin-right: 5px;
  color: black;
  font-size: 0.8em;
}

.name {
  font-weight: 700;
}

.price {
  font-weight: bold;
}

/* Dark mode styling */
body.dark-mode .spot-details .avg-rating .star-icon {
  color: white; /* Change star color to white in dark mode */
}

body.dark-mode .spot-details .location {
  color: white; /* Change location text color to white in dark mode */
}
