.spot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.spot-link {
  text-decoration: none; /* Remove default link styles */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure the link covers the entire tile */
  flex: 0 0 calc(25% - 20px); /* 4 spots per row */
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .spot-link {
    flex: 0 0 calc(50% - 20px); /* 2 spots per row */
  }
}

@media screen and (max-width: 480px) {
  .spot-link {
    flex: 0 0 calc(100% - 20px); /* 1 spot per row */
  }
}

.spot-tile {
  width: 100%; /* Ensure the tile takes full width of the link */
}

.spot-preview-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.spot-details {
  padding: 10px;
  font-weight: bold;
}

/* Additional styling for spot details */
.spot-details h2 {
  margin-top: 0;
}

.spot-details p {
  margin-bottom: 5px;
}

.city-state {
  font-weight: bolder;
  font-size: larger;
  color: rgb(6, 11, 52);
}

.rating {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(25, 78, 25);
  margin-top: 5px; /* Adjust to align with other elements */
}

.star-icon {
  margin-right: 5px;
  color: black;
  padding-left: 10px;
  font-size: .7em;
}

.name {
  font-weight: 700;
}

.price {
  font-weight: bold;
}
