.spot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.spot-tile {
  flex: 0 0 calc(25% - 20px); /* 4 spots per row */
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .spot-tile {
    flex: 0 0 calc(50% - 20px); /* 2 spots per row */
  }
}

@media screen and (max-width: 480px) {
  .spot-tile {
    flex: 0 0 calc(100% - 20px); /* 1 spot per row */
  }
}

.spot-preview-img {
  flex: 0 0 200px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.spot-details {
  flex: 1;
  padding: 10px;
  font-weight: bold;
}

/* Additional styling for spot details */
.spot-details h2 {
  margin-top: 0;
}

.spot-details p {
  margin-bottom: 5px;
}

.city-state {
  font-weight: bolder;
  font-size: larger;
  color: rgb(6, 11, 52);
}

.rating {
  color: green;
  font-weight: bold;
}

.name {
  font-weight: 800;
}

.price {
  font-weight: bold;
  font-size: medium;
}
