.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f3f1f1;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px; /* Increase the padding for more vertical space */
  box-sizing: border-box; /* Ensure padding is included in width */
  height: 90px; /* Increase the height of the navbar */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
  text-decoration: none;
  color: #343a40;
  font-size: 1rem;
}

.navbar-logo {
  width: 205px; /* Adjust size as needed */
  height: auto;
  padding-left: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-button {
  display: flex;
  align-items: center;
  background-color: #f8f5f6;
  opacity: 0.8;
  border-radius: 18px;
  padding: 8px;
  border: 1px solid #ccc;
}

.profile-button,
.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.hamburger-icon {
  width: 24px;
  height: auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4f1f1;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f4f3f3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  white-space: nowrap;
}

.profile-info {
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #ffffff;
}

.profile-dropdown-item {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  color: #1b1c1e;
  display: block;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}

.profile-dropdown-item:hover {
  background-color: #fefbfb;
}

.text-link {
  background: none;
  border: none;
  display: block;
  text-align: center;
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

.text-link:hover {
  text-decoration: underline;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  text-decoration: underline;
}

.create-spot-link {
  color: black;
  padding: 10px;
}
