.create-spot-form-container {
  padding: 2% 20%;
  text-align: center;
}

.create-spot-form-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

hr {
  border: 0;
  border-top: 1px solid #ccc; 
  margin: 20px 0;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row .form-group {
  flex: 1;
}

.form-group.price-group {
  display: flex;
  align-items: center;
}

.form-group.price-group label {
  margin-right: 5px;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
  display: block;
}

.create-button-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  align-items: center;
  margin-top: 20px;
  gap: 20px; /* Add space between buttons if needed */
}

.create-button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: auto; /* Adjust width to auto for central alignment */
  box-sizing: border-box; 
}

.create-button-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  height: 40px; 
}

.create-button-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.create-button-container .cancel-button {
  background-color: #333;
  color: white;
  height: 38px; 
  margin-top: 8px; 
}

.create-button-container .cancel-button:hover {
  background-color: #000;
}

.black-text {
  color: black;
  font-size: 12px;
  padding-top: 3px;
}

.blue-text {
  color: rgb(28, 28, 129);
}

/* Dark mode styles */
body.dark-mode .create-spot-form-container,
body.dark-mode .create-spot-form-container .form-group label,
body.dark-mode .create-spot-form-container .form-group input,
body.dark-mode .create-spot-form-container .form-group textarea,
body.dark-mode .create-spot-form-container .black-text,
body.dark-mode .create-spot-form-container .blue-text {
  color: black; /* Ensure text remains black */
}

body.dark-mode .create-spot-form-container .error {
  color: red; /* Keep error text red */
}
