/* Login box styling */
.login-box {
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 290px;
  width: 100%; /* Ensure login box takes full width */
}

/* Form styling */
.login-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 75%; /* Ensure form takes full width */
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align form content */
  margin-left: 15px;
}

/* Label styling */
label {
  width: 100%; /* Ensure labels take full width */
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left; /* Left-align labels */
}

/* Input field styling */
input {
  width: 100%; /* Adjust width to 100% */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* Submit button styling */
button[type="submit"],
button[type="button"] {
  width: 90%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

/* Demo button styling */
button[type="button"] {
  background-color: #262826;
}

/* Submit button hover effect */
button[type="submit"]:hover {
  background-color: #45a049;
}

/* Disabled submit button styling */
button[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
}

/* Error message styling */
p {
  color: red;
  font-weight: bold;
}

/* Ensure text remains black in dark mode */
body.dark-mode .login-box,
body.dark-mode .login-form,
body.dark-mode .login-box label,
body.dark-mode .login-box input,
body.dark-mode .login-box p {
  color: black;
}
